{% extends 'blog/base.html' %}

{% block title %}
    Search
{% endblock %}

{% block content %}
    {% if query %}
        <div>
            <h3>
                {% with results.count as total_results %}
                    Found {{ total_results }} result{{ total_results|pluralize }}
                {% endwith %}
            </h3>
        </div>
        <div>
            {% for post in results %}
                <div>
                    <a href="{{ post.get_absolute_url }}">
                        {{ post.title }}
                    </a>
                </div>
            {% empty %}
                <p>There is no result for your query</p>
            {% endfor %}
        </div>
    {% endif %}
    <div>
        <form method="get">
            {{ form.as_div }}
            <input type="submit" value="Search" />
        </form>
    </div>
{% endblock %}